.game-all {
    text-align: center;
    background-color: #0f4c5c;
    background-size: cover;
    width: 100%;
    padding-top: 250px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-content: center;
    margin: 20px 0;
}

.word {
    background-color: #94d2bd;
    margin: 5px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    user-select: none;
}

.shuffle-button {
    background-color: #ffd166;
}

.word.selected {
    background-color: #d1e7dd;
}

button {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.game-heading {
    font-size: 60px;
}

.game-message {
    padding-bottom: 210px;
}