.game-all {
    text-align: center;
    margin: 20px;
    padding-top: 200px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-content: center;
    margin: 20px 0;
}

.word {
    background-color: #f0f0f0;
    margin: 5px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    user-select: none;
}

.word.selected {
    background-color: #d1e7dd;
}

button {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}
